:root{
    --background: 	#121212;
    --primary-color: #444444;
    --secondary-color:	#B0B0B0;
    --accent-color: #6f6f6f;
    --text-color: #c0bebe;
}

*{
    padding: 0;
    margin: 0;
}

html {
    color: var(--text-color);
    font-size: 16pt;
    font-family: sans-serif;
}

body{
    background-color: var(--background);
}

nav ul li:nth-of-type(4){
    background: #5c5c5c;
}

h1{
    color: var(--accent-color);
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 20px;
    padding-top: 100px ;
    text-transform: uppercase;
}

.wrapper{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.calendar{
    width: 1120px;
    height: 400px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.679);
    align-items: center;
    border-radius: 20px;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
}

.left, .right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    flex-direction: column;
    width: 50%;
}

.right{
    background-color: rgba(0, 0, 0, 0.679);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media(max-width: 500px){

    .calendar{
        width: 700px;
        height: 250px;
    }

    .left, .right{
        font-size: 80px;
    }

}

@media(max-width: 800px) and (min-width: 501px) {

    .calendar{
        width: 800px;
        height: 260px;
    }

    .left, .right{
        font-size: 100px;
    }
}
